:root{
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburguer-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburguer-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --menu-icon-height: calc(var(--bar-height) * 3 + var(--hamburguer-gap) * 2);
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* BYU-Pathway Logo and background format*/
.headerlogo {
  background-color: #FFC328;/* gold 3 with gray 4 logo*/
  width: 65px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.pclogo {
  width: auto;
  height: 40px; 
}

.header {
  background-color: #065577; /* navy 3 */
  color: #fff;
  height: 53px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-left: 105px;
  margin-right: auto;
}

.sign-in {
  border: none;
  cursor: pointer;
  color: #454540 /* gray 4 */;
  font-weight: bolder;
  background-color: #FFC328;
  padding: 8px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 0px;
}

.sign-in:hover {
  background-color: #FED77E; /* gold 5 */
}
/* menu btn css - Gabe */
.menu-btn {
  --x-width: calc(var(--menu-icon-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburguer-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburguer-margin);
  right: var(--hamburguer-margin);
  z-index: 999999;
  cursor: pointer
/*   background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 5px;
  height: 100%;
  padding: 10px;
  margin-left: 10px; */ /* move this to adjust the space between sign-in and menu */
}

.menu-btn:has(input:checked){
  --foreground:white;
  --background:#333;
}

.menu-btn::before,
.menu-btn::after,
.menu-btn input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing)
}

.menu-btn input{
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.menu-btn:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.menu-btn:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.menu-btn input:checked{
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--menu-icon-height) + var(--hamburguer-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 170vh;
  width: 100px;
  min-height: 170vh;
  z-index: 9999;

}

.menu-btn:has(input:checked) + .sidebar {
  translate: 0;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

.menu-btn:hover, .menu-options li:hover {
  background-color: #3793AB; /* navy 2 */
}

/* adjust the chatbot screen */
.content {
  padding: 0px;
}

/* menu options UI */
.menu-options {
  display: none;
  position: fixed; /* Position the menu relative to the viewport */
  top: 54px;
  left: 0;
  width:100%;
  height: calc(100dvh - 54px);
  background-color: #065577; /* navy 4 */
  z-index: 9999; /* Ensure the menu appears above other content */
  padding: 0; /* Add padding to the menu content */
}

.menu-options.active {
  display: block;
}

.menu-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-options li {
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.menu-options a {
  color: #fff;
  text-decoration: none;
}

.close-btn {
  color: #fff;
  background: #065577;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.close-btn:hover {
  background-color: #118cc1;
}
/* end of menu options UI */

#webchatcanvas {
  display: block;
  height: calc(100dvh - 107px);
  width: 100%;
  margin: 0 auto;
}

/* Media query for larger screens */
/* at this time it will only adjust how
the chatbot is showed */
@media (min-width: 768px) {
  #webchatcanvas {
    width: 70%;
    margin: 0 auto;
  }
}